<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI 小工具</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="body">
  <form action="/" method="post">
    <div class="card">
      <img
        src="https://www.16personalities.com/static/images/teams/type-interactions.svg?v=1"
        alt="gov_logo" class="card-img">
      <h1 class="card-title">MBTI 人格特質標籤</h1>
      <p class="card-text">
        <% if (description.length) { %>
          <%= description %>
        <% } else { %>
          <%= '?' %>
        <% } %>
      </p>
      <input type="text" name="description" class="card-input" placeholder="請輸入你的 MBTI" />
      <button type="submit" class="card-btn">送出</button>
    </div>
  </form>
</body>

</html>